/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home {
  text-align: center;
  color: #333;
}

/* Hero Section */
.hero {
    background: linear-gradient(135deg, #00bcd4, #1976d2);
  color: white;
  text-align: center;
  padding: 80px 20px;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-btn {
  background-color: #ff7f50;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #ff5722;
}

/* Features Section */
.features {
  padding: 60px 20px;
  background-color: #f5f5f5;
}

.features h2 {
  margin-bottom: 40px;
  font-size: 2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card h3 {
  margin-bottom: 15px;
   background: linear-gradient(135deg, #00bcd4, #1976d2);
}

.card p {
  font-size: 0.95rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

/* Call to Action */
.cta {
  padding: 60px 20px;
   background: linear-gradient(135deg, #00bcd4, #1976d2);
  color: white;
}

.cta h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.cta-btn {
  background-color: #ff7f50;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.cta-btn:hover {
  background-color: #ff5722;
}
